@font-face {
  font-family: "Barlow-600";
  src: url("../fonts/Barlow-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-200";
  src: url("../fonts/Inter_18pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-400";
  src: url("../fonts/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-600";
  src: url("../fonts/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-700";
  src: url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-900";
  src: url("../fonts/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair-900";
  src: url("../fonts/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair-700";
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair-400";
  src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-400: "Playfair-400", sans-serif;
  --font-family-700: "Playfair-700", sans-serif;
  --font-family-900: "Playfair-900", sans-serif;
  --second-family-200: "Inter-200", sans-serif;
  --second-family-400: "Inter-400", sans-serif;
  --second-family-600: "Inter-600", sans-serif;
  --second-family-700: "Inter-700", sans-serif;
  --second-family-900: "Inter-900", sans-serif;
  --third-family: "Barlow-600", sans-serif;
  --primary: #2f2e2e;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--font-family-900);
  font-size: 51px;
}

p {
  font-family: var(--font-family-400);
}

a,
button {
  position: relative;
}



a:not(.aside-a):before,
button:not(.search)::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
}

a.dark::before,
button.dark::before {
  background-color: var(--primary);
  bottom: 0;
}

a.light::before {
  background-color: #fafafa;
  bottom: -10px;
}

.logo a::before {
  content: none;
}

a:hover::before,
button:hover::before {
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease;
  font-family: var(--font-family-400);
  color: var(--primary);
}

.menu-checkbox:checked~aside {
  right: 0;
}

.dark-layer {
  display: none;
}

.menu-checkbox:checked+.dark-layer {
  background-color: rgba(0, 0, 0, .5);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

input[type=checkbox] {
  display: none;
}

aside {
  position: fixed;
  background: white;
  width: 100%;
  right: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  transition: right 0.3s ease-in-out;
  padding: 0 13px 0 20px;
  margin: 0 auto;
}

.aside-close-menu {
  background-image: url(../img/close.svg);
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}

.aside-ul {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.aside-a {
  font-family: var(--second-family-700);
  font-size: 20px;
  padding: 10px;
  transition: padding-left 0.3s;
}

.aside-a:hover {
  padding-left: 20px;
}

.header-form {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header-form.show {
  opacity: 1;
  transform: translateY(0);
}

.aside-form {
  display: flex;
  margin: 20px 10px 0;
}

.aside-form,
.header-form {
  height: 50px;
  border: 1px solid var(--primary);
  flex-direction: row;
  justify-content: space-between;
}

.aside-input,
.header-input {
  height: 100%;
  width: 100%;
  padding: 0 30px;
  font-family: var(--third-family);
  font-size: 15px;
  border: unset;
}

input:focus {
  outline: none;
  background-color: #F0F0F0;
}

.aside-button,
.header-button {
  height: 100%;
  padding: 0 30px;
  font-family: var(--third-family);
  font-size: 15px;
  border: unset;
  cursor: pointer;
}

.aside-button:hover,
.header-button:hover {
  background-color: bisque;
}

.container {
  max-width: 1418px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

.dark {
  color: var(--primary);
}

.light {
  color: #fafafa;
}

.spacer {
  flex-grow: 1;
}

.logo a {
  font-family: var(--third-family);
  font-size: 42px;
  letter-spacing: -0.5px;
}

.aside-head {
  padding: 47px 0 47px 93px;
  flex-direction: row;
  justify-content: space-between;

}

header>div,
.aside-head {
  display: flex;
  align-items: flex-end;
}

header>div {
  padding: 0 93px;
}

header {
  padding: 47px 93px 88px;
}

.aside-head .logo a {
  padding-left: 10px;
}

nav {
  transition: opacity 0.3s ease;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 103px;
}

nav ul li a {
  font-family: var(--second-family-700);
  font-size: 20px;
  padding: 20px 0;
  line-height: 1.7;
}

.search {
  margin-left: 59px;
  margin-right: 7px;
  cursor: pointer;
  background-image: url(../img/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 25px;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
}

.close-form {
  margin-left: 59px;
  margin-right: 7px;
  cursor: pointer;
  background-image: url(../img/close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 32px;
  aspect-ratio: 1/1;
  border: none;
  background-color: transparent;
}

.search:active~nav {
  display: none;
}

.menu-button-open {
  display: none;
  background-image: url(../img/menu.svg);
  height: 40px;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.first-slide>div {
  height: clamp(40.875rem, 8.054vw + 35.711rem, 45.375rem);
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
}

.first-slide img {
  object-fit: cover;
  width: 1132px;
  height: inherit;
}

.first-slide-text {
  background: linear-gradient(91deg, rgba(244, 246, 245, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  width: clamp(18.75rem, 42.506vw - 8.507rem, 42.5rem);
  padding: 0 clamp(0.625rem, 10.067vw - 5.831rem, 6.25rem);
  height: clamp(18.75rem, 27.181vw + 1.32rem, 33.938rem);
}

.first-slide-text h1 {
  font-family: var(--font-family-900);
  font-size: clamp(1.688rem, 2.685vw - 0.034rem, 3.188rem);
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.first-slide-text p {
  font-family: var(--second-family-200);
  font-size: clamp(1.125rem, 1.566vw + 0.121rem, 2rem);
  margin-top: 9px;
  line-height: 1.3;
}

.services {
  background: rgba(37, 77, 77, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 64px;
  gap: 45px;
}

.services h2 {
  text-align: center;
}

.services_block {
  display: flex;
  flex-direction: row;
  padding: 0 21.2%;
  column-gap: 268px;
  row-gap: 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 187px;
}

.service-image {
  aspect-ratio: 1 / 1;
  width: 103px;
  border-radius: 100%;
  background-color: #254d4d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image img {
  object-fit: contain;
}

.service h3 {
  font-family: var(--font-family-900);
  font-size: 27px;
}

.service p {
  font-size: 16px;
  text-align: center;
  margin-top: 6px;
}

.about-us {}

.about-us>div {
  padding-top: 76px;
  padding-left: 100px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  column-gap: 85px;
  row-gap: 30px;
}

.about-us img {
  max-width: 57.5%;
  height: auto;
}



.about-us-text {
  padding-bottom: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}

.about-us-text h2 {
  font-size: clamp(1.938rem, 2.237vw + 0.503rem, 3.188rem);
}

.about-us-text p {
  font-size: clamp(1.188rem, 1.342vw + 0.327rem, 1.938rem);
  line-height: 1.6;
  letter-spacing: -0.25px;
}

.about-us-text button {
  font-family: var(--second-family-600);
  font-size: clamp(1.063rem, 0.783vw + 0.56rem, 1.5rem);
  border: none;
  background-color: white;
  line-height: 1.8;
  cursor: pointer;
  margin-bottom: 5px;
}

.our-projects>div {
  padding-left: 97px;
  padding-right: 98px;
}

.our-projects h2 {
  margin-top: 95px;
  margin-bottom: 68px;
}

.our-projects-cards {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  grid-row-gap: 84px;
  grid-column-gap: 89px;
  justify-content: space-between;
}

.our-projects-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.our-projects-cards .card img {
  width: 340px;
  height: auto;
}

.our-projects-cards .card p {
  width: 54%;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.testimonial {}

.testimonial>div {
  padding-left: 98px;
  padding-right: 92px;
}

.testimonial h2 {
  text-align: center;
  margin-top: 89px;
  margin-bottom: 78px;
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  margin-top: 74px;
  column-gap: 9.6%;
  row-gap: 50px;
  flex-wrap: wrap;
}

.testimonial-cards .card {
  display: flex;
  flex-direction: row;
  max-width: 544px;
}

.testimonial-cards .card img {
  margin-right: 27px;
  max-width: 151px;
  height: auto;
  object-fit: contain;
}

.testimonial-cards .card:nth-child(2) img {
  margin-right: 20px;
}

.testimonial-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.testimonial-card-text .name {
  font-family: var(--font-family-700);
  font-size: clamp(1.313rem, 0.783vw + 0.81rem, 1.75rem);
  letter-spacing: -0.2px;
}

.testimonial-card-text p {
  font-family: var(--font-family-400);
  font-size: clamp(1rem, 0.112vw + 0.928rem, 1.063rem);
}

.testimonial-cards .card:nth-child(1) p {
  width: 84%;
}

.testimonial-cards .card:nth-child(2) p {
  width: 83%;
}

footer {
  margin-top: 147px;
}

footer>div {
  background: #2e2f32;
  padding: 47px 100px;
  display: flex;
  justify-content: space-between;
  column-gap: clamp(1.25rem, 14.541vw - 8.075rem, 9.375rem);
}

footer p,
footer a {
  font-family: var(--second-family-400);
  font-size: 17px;
}

footer h5 {
  font-family: var(--second-family-900);
  font-size: 24px;
}

.footer-left {
  flex: 0 0 auto;

}

.footer-left p {
  margin-top: 8px;
  line-height: 1.65;
  letter-spacing: 0.35px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
  flex: 0 0 auto;
}

.footer-center a {
  line-height: 1.2;
  width: 200px;
  letter-spacing: 0.5px;
}

.spacer {
  flex: 1 1 auto;
}

.footer-right {
  flex: 0 0 auto;
  padding-top: 10px;
  padding-left: 10px;
}

.footer-right .map {
  width: clamp(11.25rem, 12.416vw + 3.288rem, 18.188rem);
  aspect-ratio: 4 / 3;
  margin-top: 16px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.socials {
  display: flex;
  gap: 34px;
  margin-top: 44px;
}

.socials a {
  background-repeat: no-repeat;
  width: 24px;
  aspect-ratio: 1/1;
  background-size: contain;
  display: block;
  background-position-y: center;
}

.fb {
  background-image: url(../img/fb.svg);
}

.tw {
  background-image: url(../img/tw.svg);
}

.ig {
  background-image: url(../img/ig.svg);
}

@media screen and (max-width: 1408px) {
  .testimonial-cards {
    justify-content: center;
    justify-content: center;
  }

  .testimonial-cards .card:nth-child(2) img {
    margin-right: 27px;
  }
}

@media screen and (max-width: 1390px) {
  .our-projects-cards {
    grid-template-columns: repeat(2, fit-content(100%));
  }

  .our-projects-cards .card img {
    width: clamp(21.25rem, 37.296vw - 1.151rem, 31.25rem);
  }
}


@media screen and (max-width: 1300px) {
  .about-us>div {
    flex-wrap: wrap;
    padding-left: 64px;
  }

  .about-us img {
    max-width: 100%;
    margin: 0 auto;
  }

  .about-us-text {
    max-width: 735px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1168px) {
  nav ul {
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  header .container {
    padding: 0;
  }

  footer>div {
    padding: 47px 4%;
  }

  .search {
    margin-left: 20px;
  }
}

@media screen and (max-width: 960px) {
  .our-projects>div {
    padding-left: 0;
    padding-right: 0;
  }

  .our-projects h2 {
    text-align: center;
  }

  .our-projects-cards {
    grid-template-columns: repeat(1, fit-content(100%));
    justify-content: center;
  }

  .our-projects-cards .card img {
    width: clamp(21.25rem, 25.806vw + 15.766rem, 31.25rem);
  }
}

@media screen and (max-width: 793px) {

  footer p,
  footer a {
    font-size: 14px;
  }

  footer h5 {
    font-size: 21px;
  }

  .socials a {
    width: 19px;
  }

  .spacer {
    display: none;
  }
}

@media screen and (min-width: 767px) {

  aside,
  .dark-layer {
    display: none !important;
  }

}

@media screen and (max-width: 767px) {

  header {
    padding-bottom: 47px;
  }

  header .container {
    justify-content: space-between;
  }

  header nav ul {
    gap: 20px;
    display: none;

  }

  header .search {
    margin-left: 20px;
    display: none;
  }

  .menu-button-open {
    display: block;
  }

  aside {
    width: 56%;
  }

  .menu-checkbox:checked~.aside {
    right: 44%;
  }

  .testimonial-cards .card img {
    max-width: 20%;
  }

  .testimonial-cards p {
    width: 100% !important;
  }
}

@media screen and (max-width: 724px) {
  footer>div {
    flex-wrap: wrap;
    gap: 50px;

    justify-content: center;
  }

  .footer-left,
  .footer-center {
    width: unset;
  }

  .footer-right {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
  }

  footer h5 {
    align-self: flex-start;
    width: inherit;
  }

  .footer-right .map,
  .footer-center a {
    width: 100%;
  }

  .about-us>div {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: clamp(2.063rem, 2.013vw + 0.771rem, 3.188rem);
  }

  header {
    padding-left: 20px;
    padding-right: 20px;
  }

  aside {
    width: 100%;
  }

  .menu-checkbox:checked~.aside {
    right: 0%;
  }

  .testimonial-cards .card img {
    max-width: 32%;
  }

  .testimonial>div {
    padding-left: 0;
    padding-right: 0;
  }

  .testimonial-cards {
    width: 82%;
    margin: 0 auto;
  }
}